

/* 큰 틀 */
.frame{width: 1200px; margin: 0 auto;  height: 1000px;}
.left-screen{width: 870px; height: 1000px;  float: left;}
.right-screen{width: 330px; height: 1000px;  float: left;}

/* 왼쪽 결재 내용 부분 */
.payment-name{width: 870px; height: 65px; border-bottom: 1px solid #000; font-weight: 600; font-size: 20px; line-height: 65px;}
/* 라디오 버튼 */
.shipping-choice{width: 870px; height: 60px;}
input[type="radio"] + label {
    color:#000000;
    font-family:Arial, sans-serif;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

/* 신상정보(주소 전화번호) */
.address{width: 870px; height: 60px; line-height: 40px; font-weight: 600; font-size: 18px;}
.phonumber{width: 870px; height: 60px; line-height: 30px; font-size: 14px; }
.select-shipping select{width: 640px; height: 50px; border: 1px solid #D8D8D8; padding-left: 10px;/* background: url('이미지 경로') no-repeat 95% 50%;*/}
.payment-name-2{padding-left: 10px; color: #797A7B; font-size: 14px; }
.product-table{margin-top: 20px;}
.product-table-row-1{width: 130px; height: 130px;}
.product-table-row-2{width: 360px; height: 130px; text-align: center; line-height: 130px;}
.product-table-row-3{width: 100px; height: 130px; text-align: center; line-height: 130px;}
.product-table-row-4{width: 120px; height: 130px; text-align: center; padding-top: 50px;}
.product-table-row-5{width: 120px; height: 130px; text-align: center; line-height: 130px;}
.product-price{font-size: 15px; color: rgb(150, 150, 150);}

.buttom-box-hiddin{width: 1px; height: 1px; overflow: hidden;}
/* 오른쪽 영수증 부분 */
.receipt{width: 300px; height: 400px; border: 1px solid rgb(53, 53, 53); margin-left: 20px; margin-top: 60px; position: fixed;}
.receipt-top{width: 260px; height: 60px;  margin: 0 auto; line-height: 60px; font-weight: 700; font-size: 20px;}
.receipt-middle{width: 260px; margin: 0 auto; height: 190px; }
.middle-left{width: 130px;height: 120px; float: left; line-height: 40px; text-align: left;}
.middle-right{width: 130px;height: 120px;float: left; line-height: 40px; text-align: right;}
.middle2-left{width: 130px;height: 40px; float: left;  text-align: left; color: #F43142; margin-top: 25px;}
.middle2-right{width: 130px;height: 40px; float: left;  text-align: right; color: #F43142; font-size: 30px; font-weight: 600; margin-top: 10px;}
.receipt-buttom{width: 260px; height: 10px; border-top: 1px dashed #000; margin: 0 auto;  }
.buttom-name{line-height: 60px; font-size: 12px; }
.buttom-box{width: 260px; height: 65px; background:  #F43142; color: #fff; line-height: 65px; font-weight: 600; font-size: 18px; text-align: center;}