.section{width: 1200px; margin: 0 auto; }
.v{clear: both;}
/* 왼쪽 메뉴 css */
.left-menu{width: 200px; height: 630px; position: fixed; background: #fff; z-index:0;}
.menu-name{font-size: 16px; font-weight: 700; margin-top: 30px; margin-bottom: 20px;}
.left-menu > a > li{margin-left: 20px; line-height: 40px;}
.input-price{width: 60px; border: 1px solid #E7E7E7; height: 20px;}
.price-button{width: 180px; height: 30px; background: #EF3F43; text-align: center; line-height: 30px; color: #fff; font-weight: 500;font-size: 15px; margin-top: 20px;}

/* 오른쪽 내용 css */
.left-space{width: 200px; height:1000px;float: left;  }

/* 상품 헤더 부분 (가격 낮은순, 높은순, 인기상품순) */
.right{width: 1000px; float: left; height: auto; border-left: 1px solid #AAAAAA; box-sizing: border-box;  }
.right-header{width: 950px; height: 90px; margin-left: 50px;}
.right-header-search{width: 300px; float: left; height: 90px; line-height: 90px;}
.right-header-button{width: 650px; float: right; height: 90px;}
.right-header-button-1{width: 120px; height: 30px; border: 1px solid #AAAAAA; text-align: center;line-height: 30px; float: right; margin-right: 10px; margin-top: 25px;}
.right-header-button-1:hover{background: #EF3F43; border: 1px solid #EF3F43; color: #fff;}

/* 상품 광고 css */
.right-contest{width: 950px; float: right;}
.right-contest-advertisement{width: 950px; height: 60px; line-height: 60px; font-weight: 700; font-size: 20px; border-bottom: 1px solid #AAAAAA;}
.right-contest-recommendation{width: 950px; height: 280px;}
.right-contest-recommendation-box{width: 190px; height: 280px; text-align: center; float: left;}
.right-contest-recommendation-box > img {width: 180px; margin-top: 10px;}
.product-font-1{font-size: 16px; line-height: 25px; width: 180px; text-align: left; margin: 0 auto; width: 180px; height:25px;overflow: hidden;}
.product-font-2{font-size: 19px; font-weight: 700; line-height: 25px;  width: 180px; text-align: left; margin: 0 auto;}

/* 상품 view css */
.right-contest-product-view{width: 950px; float: left;}
.right-contest-advertisement-product{width: 950px; height: 230px;  border-bottom: 1px solid #AAAAAA; float: left;}
.right-contest-advertisement-product-img > img {width: 190px; height: 190px; margin-top: 20px; float: left;}
.right-contest-advertisement-text{width: 550px; height: 190px; margin-top: 20px; float: left; padding-top: 35px;}
.product-font-review{font-size: 14px; line-height: 25px; margin-left: 15px;}
.product-contest-1{font-size: 15px; line-height: 25px; margin-left: 15px; width: 300px; height: 25px; overflow: hidden;}
.product-contest-2{font-size: 19px; line-height: 25px; margin-left: 15px;}
.color-yellow{color: #FFA700;}
.right-contest-advertisement-company{width: 210px; height: 170px; border-left: 1px solid #AAAAAA; float: left; box-sizing: border-box; margin-top: 30px;}