button{

    background-color: #7E65F5;
    color: white;
    height: 30px;
    width: 100px;
    border: 1px solid #5F0080;
    border-radius: 10px;
    margin-bottom: 15px;

}



.submit-button{

    width: 300px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 15px;

}

.cancle-button{

    width: 300px;
    height: 60px;
    background-color: white;
    color: black;

}

.member-regist-box{

    width: 800px;
    height: 800px;
    margin: 0 auto;

}

.input-label{
    width: 150px;
    height: 32px;
    text-align: right;
    line-height: 32px;
    margin-left: 150px;
    margin-right: 10px;
    float: left;
}
.input-label1{
    width: 250px;
    height: 32px;
    text-align: left;
    line-height: 32px;
    margin-right: 400px;
    float: right;
}

#memberRegistForm > div > input{

    border: 1px solid black;
    width: 300px;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 15px;


}



.terms-div > input[type="checkbox"]{

    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin: 0 auto;
    border: 1px solid black;
    vertical-align: middle;

}


.main-Title{
    margin: 0 auto;
    width: 1200px;
    padding-left: 30px;
    height: 50px;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid rgb(34, 34, 34);
}
.input-many{
    margin: 0 auto;
    width: 1200px;
    height: 50px;
    line-height: 50px;
}
input[type="text"],input[type="password"],input[type="email"]{
    margin-top: 10px;
}

.btns{
    border-top: 1px solid rgb(34, 34, 34);
    margin: 0 auto;
    width: 1200px;
    height: 200px;
    padding-top: 30px;
    text-align: center;

}

.terms-div{
    margin: 0 auto;
    line-height: 32px;

}

.input-label{
    width: 200px;
    height: 32px;
    text-align: right;
    line-height: 32px;
    margin-left: 150px;
    margin-right: 10px;
    float: left;
}

.input-label2{
    margin: 0 auto;
    width: 300px;
    height: 32px;
    text-align: center;
    line-height: 32px;
}