/* 라디오 버튼 */

input[type="radio"] + label {
    color:#000000;
    font-family:Arial, sans-serif;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

input[type="checkbox"] + label {
    color:#000000;
    font-family:Arial, sans-serif;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

.btns{

    text-align: center;

}

.submit-button{
	background: #7E65F5;
    color: white;

    
    border-radius: 10px;
    margin-bottom: 15px;
    width: 300px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 0px;

}

.regist-button{
	background: #7E65F5;
    color: white;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 300px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.find-button{


    border: 1px solid #5F0080;
    border-radius: 10px;
    margin-bottom: 15px;
    
    width: 300px;
    height: 60px;
    background: white;
    color: black;

}

.member-login-box{

    width: 800px;
    height: 800px;
    margin: 0 auto;

}

.input-label{

    width: 150px;
    height: 32px;
    text-align: right;
    line-height: 32px;
    margin-left: 100px;
    margin-right: 10px;
    float: left;

}

.select-option-div{

    display: flex;
    justify-content: center;

}

#memberLoginForm > div > input[type=text]{

    border: 1px solid black;
    width: 300px;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 15px;


}

#memberLoginForm > div > input[type=password]{

    border: 1px solid black;
    width: 300px;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 15px;


}

#memberLoginForm > div > input[type=checkbox]{

   
    margin-left: 15px;
    margin-right: 5px;

}

#memberLoginForm > div > input[type=radio]{

   
    
    margin-left: 15px;
    margin-right: 5px;

}