.sectionBodyDiv{
	
	margin: 0 auto;
	width: 1400px;
	height: 800px;
	
}

.contentDiv{
	
	width: 600px;
	height: 200px;
	float: left;
	margin: 40px 45px 20px 45px;
	border: 1px solid black;
	border-radius: 6px;
	background-color: #E9E9E9;
	
}

.titleBtn{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 25px;
    border: none;
    background-color: transparent;
}

.infoTables > tbody > tr > td{
	
	width: 300px;
	height: 50px;
	text-align: left;
	vertical-align: middle;
	padding-left: 10px;
	
}

hr{
	
	width: 100%;
	height: 1px;
	background-color: black;
	
}