	
	.leftDiv {
	    	background-color : rgba(119, 94, 238, 0.75);
	    	margin-top:150px;
	        margin-bottom:10px;
	        border-radius: 15px;
	        width:430px;
	        height:490px;
	    }
	
		.myPageNavTable{		
			margin-left:0;
			margin-top:-30px;		
			text-align: left;
			font-size:30px;
			width: 430px;
			height: 450px;
		}
		
		.welcomeTd{
	
			font-size:20px;
			color:#ffff;
		}
		
		.centerBlank{
			width:200px;
			
		}

	

	.paymentBtn{	
		color:#ffff;
		background:rgba(119, 94, 238);
		width:150px;
		height:60px;
		border-radius: 10px;
		font-size:20px;
	}
	
	
	.titleTable{
		margin-left:600px;
		height:100px;
		text-align: center;
		vertical-align: bottom;	
	}

	.titleColorBox{	
		background-color: rgba(119, 94, 238, 0.7);
		color:#fff;
		font-size:30px;
		vertical-align: bottom;	
	}
	
	.titleNonColor{
		font-size:30px;
		vertical-align: bottom;
	}
	
	.titleNonColor2{
		font-size:25px;
	}

	
    #totalForm {
    	position:absolute;
    	margin-left:500px;
        margin: 100px auto;
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }

    #colorBox{
        position: relative;       
        background-color: rgba(119, 94, 238, 0.33);
        width:900px;
        height: 900px;
    }
    
    .emptyTable{
    	font-size:30px;
    	margin-left:200px;
    	
    	
    }
    
    .emptyCart{
    	
    	
    	
    }

	section{
	
		height:750px;
	}
	
    #rightDiv {
    	width:800px;
    	heignt:1200px;
    	background: #FBF9F9;
		border: 0.2px solid #000000;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
    	margin-left:630px;
        margin-top:100px;
        position: absolute;
    }

    .calculateTd{
    	font-size: 20px;
        text-align: right;        
    }
    
    .cartTable{
	    margin-left:100px;
	    width:600px;
	    height:400px;
	    text-align:center;
	    vertical-align:center;
	    /* border:1px solid black; 	   
        /* border-top : solid 1px black; */
        border-radius: 30px;
        border-collapse: collapse;
        font-family: Roboto;
        table-layout:fixed
    }
    .cartTable th,td:not(.upperPaymentTd,.paymentTd){
        /* border-bottom: solid 1px black; */
    }
    
    .ellipsisTd{           
      overflow:hidden;
      text-overflow:ellipsis;		
	}
    
    .bottomLineTr{
		border-bottom: 2px solid #775EEE;
		line-height: 60px;	
	}
    
	
	.paymentTd{
		text-align:center;		
	}
	
	.chk_all,.chk{
	    -webkit-appearance: auto;
	    -moz-appearance: auto;
	}
	
	.selectAmount{
		border:1px solid black;
	}
	
	.redColorFont{
		color:red;
	}
	
	.pointColorFont{
		color:rgba(119, 94, 238);
	}
	
	