		#totalForm {
        margin: 100px auto;
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
	
	.leftDiv {
    	background-color : rgba(119, 94, 238, 0.75);
    	margin-top:150px;
        margin-bottom:10px;
        border-radius: 15px;
        width:430px;
        height:490px;
    }
	
	.myPageNavTable{		
		margin-left:0;
		margin-top:-30px;		
		text-align: left;
		font-size:30px;
		width: 430px;
		height: 450px;
	}


	.titleTable{
		margin-left:800px;		
		text-align: center;
		vertical-align: bottom;	
	}
	
	.titleColorBox{	
		background-color: rgba(119, 94, 238, 0.7);
		color:#fff;
		font-size:30px;
		vertical-align: bottom;	
	}
	
	.titleNonColor{
		font-size:30px;
		vertical-align: bottom;
	}
	
	.welcomeTd{

	font-size:20px;
	color:#ffff;
	}
	
	#colorBox{
        position: relative;      
        background-color: rgba(119, 94, 238, 0.33);
        width:900px;
        height: 900px;
    }
    
    #rightDiv {
        position: absolute;
    	width:800px;
    	heignt:1200px;
    	background: #FBF9F9;
		border: 0.2px solid #000000;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
    	margin-left:630px;
        margin-top:50px;
    }
	
	
	.centerBlank{
		width:200px;
			
	}
	
	section{
	
		height:750px;
	}
	
	.cartTable{
		margin-left:50px;
	}
	
	.emptyTable{
		margin-left:140px;
	
	}
	
	.goShoppingBtn{	
		color:#ffff;
		background:rgba(119, 94, 238);
		width:150px;
		height:60px;
		border-radius: 10px;
		font-size:20px;
	}
	
	.emptyMessage{
		font-size:30px;
	
	}
	
	.reviewListTable{
		margin-top:50px;
		margin-left:100px;
		width:600px;
	    height:150px;
	    text-align:center;
	    vertical-align:bottom;
	    border-radius: 30px;
        border-collapse: collapse;
        font-family: Roboto;
        table-layout:fixed
	}
	
	.bottomLineTr{
		border-bottom: 2px solid #775EEE;
		line-height: 60px;	
	}
	
	.pointTd{
   		background: #B1A7E4;   		
   } 
   
   .ellipsisTd{	     
      overflow:hidden;
      text-overflow:ellipsis;		
	}
   
	.leftBg{
		position:relative;
		margin-top:500px;
		margin-left:-100px;
		margin-bottom:150px;
	}
		
	#contentForm{
		margin: 90px auto;
        margin-left: 490px;
        margin-top:-1200px;
        margin-bottom:800px;
        position:absolute;
	}	